[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cleanNLP"]
	path = cleanNLP
	url = https://github.com/statsmaths/cleannlp
	shallow = true
	registered = true
[submodule "ggimg"]
	path = ggimg
	url = https://github.com/statsmaths/ggimg
	shallow = true
	registered = true
[submodule "kerasR"]
	path = kerasR
	url = https://github.com/statsmaths/kerasr
	shallow = true
	registered = true
[submodule "sotu"]
	path = sotu
	url = https://github.com/statsmaths/sotu
	shallow = true
	registered = true
